@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");


body {
  padding: 0;
  margin: 0;
  background: white;
  color: #333;
  font-family: "Nunito";


}
a {
  color: rgb(12, 3, 3);
  text-decoration: none;
}
.content {
  max-width: 100%;
  margin: 0 auto;
}

nav {

  
  width: 100%;
  display:flex;
  color: white;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(237, 236, 243);
 

}
nav a {
  margin-left: 12px;
  color: white;
}


nav .logo {
  margin-right: auto;
}



/*css footer */
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.Offshore-title {
  margin-bottom: 10px;

  text-align: center;
  font-size: xX-large;
  font-weight: 600;
  color: black;
}
.text-view {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: x-large;
  font-weight: 300;
  color: black;
}
/* css card*/

.container{
  padding: 15px;
  margin: 15px;
  width: 330px;
  height: 530px;

   
}
.column{
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  text-align: center;

}
.image1{
  border-radius: 50%;
  width: 150px;

}

/*hero*/

.hero{
  background-color: rgb(99, 120, 212);
  width: 100%;

}